extends default

block content
    h1 #{product.name}
    img(src=`/uploads/${product.image}`, alt="product picture")
    h1 #{product.price}
    h1 #{product.description}
    h1 #{product.category}
    h1 #{product.comments}